body{text-align:center;}
body{color:gold;}
#idTREE{border-style:dotted;
border-color:gold;
border:2px;
border-radius:80px;
padding:5px;
width:300px;}
#reeeee{color:gold;
font-family:lobster;}

